<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/message.css" />
  </head>
  <body>
    <main>
      <h1 class="title"><%= title %></h1>
      <div class="userDetails">
        <h2><%= message.username %>'s message</h2>
        <p><%= message.message %></p>
        <p>Date added: <span><%= message.created_at %></span></p>
      </div>
      <a class="navBtn" href="/">Home</a>
    </main>
  </body>
</html>
