<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="/message.css" />
  </head>
  <body>
    <main>
      <h1 class="title"><%= title %></h1>
      <div class="userDetails">
        <h2><%= message.user %>'s message</h2>
        <p><%= message.text %></p>
        <p>Date added: <span><%= message.added %></span></p>
      </div>
      <%- include('navBtns', {button:button}) %>
    </main>
  </body>
</html>
